<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="plants">
      <ion-icon name="ios-leaf"></ion-icon>
      <ion-label>Plantas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="zones">
      <ion-icon name="business"></ion-icon>
      <ion-label>Zonas</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="users">
      <ion-icon name="people"></ion-icon>
      <ion-label>Usuarios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="roles">
      <ion-icon name="switch"></ion-icon>
      <ion-label>Roles</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>