<app-header [color]="'white'"></app-header>

<ion-toolbar color="white" *ngIf="!showForm">
    <ion-searchbar placeholder="Buscar usuario..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-toolbar>

<ion-content padding>

    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)">
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="!showForm">
        <ion-item-sliding *ngFor="let user of users">
            <app-user [user]="user" (edit)="editUser($event)"></app-user>
        </ion-item-sliding>
    </ion-list>

    <form [formGroup]="angForm" class="animated fast" *ngIf="showForm">
        <!-- <ion-item>
          <img src="/assets/img/tree.svg" width="80px" height="80px">
          <ion-label text-left>
            <h1>Agregar Usuario</h1>
          </ion-label>
        </ion-item> -->
    
        <ion-item>
            <ion-label position="floating">Nombre</ion-label>
            <ion-input type="text" formControlName="name" required></ion-input>
        </ion-item>
    
        <ion-item>
            <ion-label position="floating">Email</ion-label>
            <ion-input type="email"
                pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                formControlName="email"
                (change)="validateEmail()"
                required>
            </ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Contraseña:</ion-label>
            <ion-input type="password" formControlName="password" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Confirmar ontraseña:</ion-label>
            <ion-input type="password" formControlName="password_confirmation" required></ion-input>
        </ion-item>

        <ion-item>
            <ion-label>Role:</ion-label>
            <ion-select placeholder="Selecciona un rol" formControlName="role" interface="action-sheet">
                <ion-select-option *ngFor="let role of roles" [value]="role.idRole">{{ role.nombre }}</ion-select-option>
            </ion-select>
        </ion-item>
    
        <ion-item>
            <ion-label>Estado</ion-label>
            <ion-select placeholder="Seleccione un estado" formControlName="estado" interface="action-sheet">
                <ion-select-option [value]="0">Desactivado</ion-select-option>
                <ion-select-option [value]="1">Activado</ion-select-option>
            </ion-select>
        </ion-item>
    
        <ion-row class="mt-5">
            <ion-col size="12" text-center>
                <ion-button *ngIf="!update" type="submit" size="full" [disabled]="angForm.invalid" (click)="onSubmitCreate()">Confirmar</ion-button>
                <ion-button *ngIf="update" type="submit" size="full" [disabled]="angForm.invalid" (click)="onSubmitUpdate()">Actualizar</ion-button>
            </ion-col>
        </ion-row>
    </form>
    
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="showForm = true" *ngIf="!showForm">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="reset()" *ngIf="showForm">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll [disabled]="infScrollDisabled" threshold="150px" (ionInfinite)="getUsers($event)">
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>
