<ion-tabs>

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>

    <ion-tab-button (click)="loginPage()" *ngIf="!logged">
      <ion-icon name="person"></ion-icon>
      <ion-label>Login</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile" *ngIf="logged">
      <ion-icon name="person"></ion-icon>
      <ion-label>Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab4">
      <ion-icon name="heart"></ion-icon>
      <ion-label>Donar</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>