<ion-header no-border translucent>
  <ion-toolbar color="primary">

    <ion-buttons slot="start">
      <ion-back-button defaultHref="/" (click)="enableMenu()"></ion-back-button>
    </ion-buttons>

  </ion-toolbar>
</ion-header>

<ion-content padding color="primary">
  <ion-img src="/assets/img/logo.png"></ion-img>
  <form (ngSubmit)="onSubmit()" padding color="primary">
    <ion-list>
      <ion-item color="primary">
        <ion-label position="floating">Email:</ion-label>
        <ion-input type="email"
                    pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$"
                    required>
        </ion-input>
      </ion-item>
      <ion-item color="primary">
        <ion-label position="floating">Contraseña:</ion-label>
        <ion-input type="password"></ion-input>
      </ion-item>
    </ion-list>

    <ion-button id="signIn" color="light" expand="block" size="large" fill="outline" type="submit">Iniciar</ion-button>

    <ion-label>No tienes una cuenta ? <a routerLink="#">Registrate</a></ion-label>
  </form>
  <div class="social" padding>
    <ion-icon name="logo-facebook"></ion-icon>
    <ion-icon name="logo-google"></ion-icon>
  </div>
</ion-content>
