<ion-app>
  <ion-split-pane contentId="main" when="md">
    <ion-menu side="start" menuId="mainMenu" contentId="main">
      <ion-header>
        <ion-toolbar color="primary">
          <ion-title>Menu Principal</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list>
  
          <ion-menu-toggle autoHide="false" *ngFor="let item of menuItems | async">
            <ion-item [routerLink]="item.redirectTo" [ngClass]="{'hidden': (item.loggedIn && !logged || (logged && item.admin && user && user.role.flag != 'a'))}">
              <ion-icon slot="start" [name]="item.icon" color="primary"></ion-icon>
              <ion-label>{{ item.name }}</ion-label>
            </ion-item>
          </ion-menu-toggle>
  
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet id="main"></ion-router-outlet>
  </ion-split-pane>
</ion-app>
