<ion-header no-border translucent>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" color="primary">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>#CAACUPETQV</ion-title>

  </ion-toolbar>
</ion-header>

<ion-toolbar color="primary">
  <ion-searchbar placeholder="Buscar planta..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-toolbar>

<ion-content>
  
  <ion-card *ngFor="let item of [1,1,1,1,1,1,1,1]" mode="ios">
    <ion-img src="/assets/img/plant.jpg"></ion-img>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-label>Nombre de la Planta</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
  
    <ion-card-content>
      This is content, without any paragraph or header tags,
      within an ion-card-content element.
    </ion-card-content>
  </ion-card>


</ion-content>

