<ion-header no-border translucent>
  <ion-toolbar color="primary">

    <ion-buttons slot="start" color="primary">
      <ion-menu-button menu="mainMenu"></ion-menu-button>
    </ion-buttons>

    <ion-title>#CAACUPETQV</ion-title>

  </ion-toolbar>
</ion-header>

<ion-toolbar color="primary">
  <ion-searchbar placeholder="Buscar planta..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-toolbar>

<ion-content>
  
  <ion-card *ngFor="let plant of plants" mode="ios">
    <ion-img [src]="plant.imagen | absolutize"></ion-img>
    <ion-item>
      <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
      <ion-label>{{ plant.nombre }}</ion-label>
      <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
    </ion-item>
  
    <ion-card-content>{{ plant.descripcion }}</ion-card-content>
  </ion-card>

  <div *ngIf="plants?.length === 0">
    <ion-card mode="ios">
      <ion-img src="/assets/img/logo-lg.jpg"></ion-img>
      <ion-card-content>
        PARECE QUE TODAVIA NO SE HA PLANTADO NADA,
        AYUDANOS A PRESERVAR EL MEDIO AMBIENTE PLANTANDO UN ARBOLITO
      </ion-card-content>
    </ion-card>
  </div>

  <div *ngIf="plants === null">
    <ion-card *ngFor="let item of [1,1,1]" mode="ios">
      <ion-skeleton-text style="width: 100%; height: 150px;"></ion-skeleton-text>
      <ion-item>
        <!-- <ion-icon name="pin" slot="start"></ion-icon> -->
        <ion-skeleton-text animated style="width: 80%"></ion-skeleton-text>
        <!-- <ion-button fill="outline" slot="end">View</ion-button> -->
      </ion-item>
    
      <ion-card-content>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
        <ion-skeleton-text animated style="width: 100%"></ion-skeleton-text>
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

