<app-header [color]="'white'"></app-header>

<ion-toolbar *ngIf="!showForm">
    <ion-searchbar placeholder="Buscar publicación..." (ionChange)="onSearchChange($event)" [debounce]="250"></ion-searchbar>
</ion-toolbar>

<ion-content padding>

    <!-- Refresher -->
    <ion-refresher slot="fixed" (ionRefresh)="refresh($event)" #refresher>
        <ion-refresher-content></ion-refresher-content>
    </ion-refresher>

    <ion-list *ngIf="!showForm">
        <ion-item-sliding *ngFor="let publication of publications">
            <app-publication [publication]="publication" (edit)="editPublication($event)"></app-publication>
        </ion-item-sliding>
    </ion-list>

    <form [formGroup]="angForm" (ngSubmit)="onSubmit()" class="animated fast" *ngIf="showForm">
        <!-- <ion-item>
      <img src="/assets/img/tree.svg" width="80px" height="80px">
      <ion-label text-left>
        <h1>Agregar planta</h1>
      </ion-label>
    </ion-item> -->

        <ion-item>
            <ion-label>Planta</ion-label>
            <ionic-selectable placeholder="Seleccione una planta"
                formControlName="planta" [items]="plants" itemValueField="idPlanta"
                itemTextField="nombre" [canSearch]="true" (onChange)="selectableChange($event)"
                searchPlaceholder="Buscar Planta" searchFailText="No se encontraron plantas">
            </ionic-selectable>
        </ion-item>

        <ion-item>
            <ion-label>Zona</ion-label>
            <ionic-selectable placeholder="Seleccione una zona"
                formControlName="zona" [items]="zones" itemValueField="idZona"
                itemTextField="nombre" [canSearch]="true" (onChange)="selectableChange($event)"
                searchPlaceholder="Buscar Zona" searchFailText="No se encontraron zonas">
            </ionic-selectable>
        </ion-item>

        <ion-item>
            <ion-label position="floating">Descripcion</ion-label>
            <ion-textarea formControlName="descripcion"></ion-textarea>
        </ion-item>

        <ion-item>
            <ion-label>Ubicación actual</ion-label>
            <ion-spinner name="lines-small" *ngIf="loadingLocation"></ion-spinner>
            <ion-toggle slot="end" formControlName="getPosition" (ionChange)="onToggleLocation()" color="light"></ion-toggle>
        </ion-item>

        <ion-row>
            <ion-col>
                <ion-card>
                    <img *ngIf="angForm.value.imagen" [src]="(angForm.value.imagen | absolutize) | urlSanitizer">
                </ion-card>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col size="12" text-center>
                <ion-button *ngIf="!update" type="submit" size="full" [disabled]="angForm.invalid">Confirmar
                </ion-button>
                <ion-button *ngIf="update" type="submit" size="full" [disabled]="angForm.invalid">Actualizar
                </ion-button>
            </ion-col>
        </ion-row>
    </form>

    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
        <ion-fab-button (click)="addPublicationForm()" *ngIf="!showForm">
            <ion-icon name="add"></ion-icon>
        </ion-fab-button>
        <ion-fab-button (click)="reset()" *ngIf="showForm">
            <ion-icon name="close"></ion-icon>
        </ion-fab-button>
    </ion-fab>

    <!-- Infinite Scroll -->
    <ion-infinite-scroll [disabled]="infScrollDisabled" threshold="150px" (ionInfinite)="getPublications($event)" #infiniteScroll>
        <ion-infinite-scroll-content loadingSpinner="crescent" loadingText="Cargando...">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>

</ion-content>